@model FamilyDoctor.Models.VO.VaccinationEditVo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vaccination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AllVaccination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllVaccination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextVaccination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextVaccination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, id2 = Model.PatientId }) | 
    @Html.ActionLink("Back to List", "Index" , new { id = Model.PatientId })
</p>
