@model FamilyDoctor.Models.VO.PatientDocumentEditVo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient  Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDocument)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, id2 = Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.PatientId })
</p>
